.flex-calender {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;
    margin: 0 10px 50px 10px;
    border-radius: 10px;
}

.wrapper-calendar {
    width: 450px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.wrapper-calendar .head-calendar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px 10px;
}

.head-calendar .current-date {
    font-size: 1.45rem;
    font-weight: 600;
    letter-spacing: 1.25px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.head-calendar .icons i {
    height: 38px;
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin: 0 2px;
    cursor: pointer;
    line-height: 38px;
    border-radius: 50%;
    color: #878787;
}

.head-calendar .icons i:hover {
    background: #a2a2a2;
    color: rgb(51, 51, 51);
}

.head-calendar .icons i:last-child {
    margin-right: -10px;
}

.calendar {
    padding: 15px;
}

.calendar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}

.calendar .weeks li {
    font-weight: 600;
}

.calendar ul li {
    position: relative;
    width: calc(100% / 7);
    margin: 15px 0;
}

.calendar .days li {
    z-index: 1;
    cursor: pointer;
    margin-top: 20px;
}

.days li.inactive {
    color: #aaa;
}

.calendar .days li::before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);

}

.days li:hover::before {
    background: #ddd;
}

.days li.active {
    color: #f2f2f2;
}

.days li.active::before {
    background: rgb(74, 74, 74);
}